.wrapper
{
    cursor: grab;
    height: 50%;
    display: flex;
    overflow-x: auto;
    margin-top: 1rem;
    
}

.wrapper::-webkit-scrollbar
{
    width: 0;
    height: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #6c757d;
}

.sub_titles
{
    text-decoration: none;
}

.Overview-Container
{
    margin-bottom: 100px;
}