.about-me-textbox { height: 200px; width: 526px; border-color: rgb(197, 197, 197) }
.button-padding { padding-top: 5px !important }

.display-off
{
    display: none
}

.display-on
{
    display: initial
}

.visi-off
{
    visibility: hidden;
}
.pic-off
{
    text-align: center;
    display: none;
}
.pic-on
{
    text-align: center;
    display: initial
}