.PlaylistModal_Label
{
    font-size: 15px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

button.PlaylistModal_Label:focus {box-shadow:none !important;}

.audioSelection-Image
{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-image: linear-gradient(
        135deg
        ,#846170,#70929c);
}