.PlaylistModalRow
{
    margin-top: 10px;
}

.PlaylistModalRow-Image-Image{
    max-width: 50px;
    max-height: 50px;
    background-image: linear-gradient(
        135deg
        ,#846170,#70929c);
}